* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background: rgba(37, 43, 73, 0.5);
  mix-blend-mode: normal;
}

.header__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  position: relative;
}

.header__container::after {
  content: '';
  position: absolute;
  width: 1170px;
  border-bottom: 1px solid #BABBC5;
  top: 100%;
}

@media (max-width: 1024px) {
  .header__container::after {
    width: 984px;
  }
}

@media (max-width: 768px) {
  .header__container::after {
    display: none;
  }
}

.header__wrap {
  display: block;
}

@media (max-width: 768px) {
  .header__wrap {
    padding: 21px 0;
  }
}

.header__logo {
  pointer-events: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__button {
  display: none;
}

@media (max-width: 768px) {
  .header__button {
    display: block;
    background-color: rgba(37, 43, 73, 0.5);
  }
}

.header__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .header__list {
    display: none;
  }
}

.header__item {
  min-width: 134px;
  width: 100%;
}

@media (max-width: 1024px) {
  .header__item {
    min-width: 112px;
  }
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 41px 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  display: block;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .header__link {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .header__link {
    display: none;
  }
}

.header__link:hover {
  border-bottom: 3px solid #BABBC5;
}

.header__link:active {
  border-bottom: 3px solid #E71414;
  color: #E71414;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.banner {
  padding: 230px 0 120px;
  background-image: url(../media/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (max-width: 1024px) {
  .banner {
    padding: 157px 0 126px;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 106px 0 52px;
  }
}

.banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #252B49;
  mix-blend-mode: normal;
  opacity: 0.8;
  z-index: 1;
}

.banner__container {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.banner__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61.8px;
  }
}

@media (max-width: 768px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32.5px;
  }
}

.banner__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.banner__button {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  margin-top: 82px;
  background: #FF4343;
  padding: 25px 20px;
  border: 1px solid #FF4343;
  max-width: 370px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1024px) {
  .banner__button {
    max-width: 314px;
    margin-top: 89px;
  }
}

@media (max-width: 768px) {
  .banner__button {
    max-width: 279px;
    margin-top: 51px;
    padding: 16px 10px;
  }
}

.banner__button:hover {
  background: #E71414;
  border: 1px solid #E71414;
}

.banner__button:active {
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.features {
  padding: 120px 0 133px;
}

@media (max-width: 1024px) {
  .features {
    padding: 82px 0 80px;
  }
}

@media (max-width: 768px) {
  .features {
    padding: 40px 0 35px;
  }
}

.features__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 88px;
}

@media (max-width: 1024px) {
  .features__container {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 57px;
  }
}

@media (max-width: 768px) {
  .features__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 42px;
  }
}

.features__block {
  text-align: center;
  max-width: 370px;
}

@media (max-width: 1024px) {
  .features__block {
    max-width: 314px;
  }
}

@media (max-width: 768px) {
  .features__block {
    max-width: 280px;
    margin: 0 auto;
  }
}

.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 51px;
  width: 100px;
  height: 100px;
}

@media (max-width: 1024px) {
  .features__wrap {
    width: 85px;
    height: 85px;
    margin: 0 auto 43px;
  }
}

@media (max-width: 768px) {
  .features__wrap {
    width: 75px;
    height: 75px;
    margin: 0 auto 31px;
  }
}

.features__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #2D3033;
  margin-bottom: 42.5px;
}

@media (max-width: 1024px) {
  .features__title {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  .features__title {
    margin-bottom: 10px;
  }
}

.features__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}

@media (max-width: 1024px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .project {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.project__wrap {
  border: 1px solid #fff;
  position: relative;
}

.project__wrap::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.project__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__block {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (max-width: 1024px) {
  .project__block {
    padding: 74.5px 0 86.5px;
  }
}

@media (max-width: 768px) {
  .project__block {
    padding: 46px 0 51px;
  }
}

.project__block:hover {
  opacity: 1;
  background-color: rgba(255, 67, 67, 0.8);
}

.project__block:active {
  opacity: 1;
  background-color: rgba(185, 12, 12, 0.8);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.project__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 36.5px;
}

@media (max-width: 1024px) {
  .project__title {
    margin-bottom: 12.5px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  .project__title {
    margin-bottom: 5px;
  }
}

.project__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

@media (max-width: 1024px) {
  .project__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.project__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team {
  padding: 114px 0;
}

@media (max-width: 1024px) {
  .team {
    padding: 78.5px 0;
  }
}

@media (max-width: 768px) {
  .team {
    padding: 35px 0;
  }
}

.team__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1024px) {
  .team__container {
    -webkit-column-gap: 25.5px;
            column-gap: 25.5px;
  }
}

@media (max-width: 768px) {
  .team__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 100%;
    row-gap: 49px;
  }
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__wrap {
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .team__wrap {
    margin-bottom: 25px;
  }
}

.team__wrap::before {
  content: '';
  display: block;
  position: relative;
  padding-top: 100%;
}

.team__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: #2D3033;
}

@media (max-width: 1024px) {
  .team__title {
    margin-bottom: 4.5px;
    font-size: 18px;
    line-height: 21px;
  }
}

.team__subtitle {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FF4343;
  font-weight: 400;
  margin-bottom: 18px;
}

@media (max-width: 1024px) {
  .team__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22.5px;
  }
}

@media (max-width: 768px) {
  .team__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 38.5px;
  }
}

.team__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 38px;
}

@media (max-width: 1024px) {
  .team__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 39px;
  }
}

@media (max-width: 768px) {
  .team__text {
    margin-bottom: 55px;
  }
}

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  margin: auto 0 0 0;
}

@media (max-width: 1024px) {
  .team__social {
    -webkit-column-gap: 4px;
            column-gap: 4px;
  }
}

@media (max-width: 768px) {
  .team__social {
    -webkit-column-gap: 6px;
            column-gap: 6px;
  }
}

.team__social-link {
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (max-width: 1024px) {
  .team__social-link {
    width: 32.8px;
    height: 32.8px;
  }
}

@media (max-width: 768px) {
  .team__social-link {
    width: 39px;
    height: 39px;
  }
}

.team__social-link:hover {
  border-color: #E71414;
}

.team__social-link:active {
  border-color: #FF4343;
}

.team path {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.team__social-link:hover path {
  fill: #E71414;
}

.team__social-link:active path {
  fill: #FF4343;
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .testimonials__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonials__swiper {
  padding-bottom: 41px;
}

.testimonials .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .swiper-pagination-bullet {
  background-color: #FFF;
  width: 14px;
  height: 14px;
  border: 1px solid #7E5D6F;
  opacity: 1;
}

.testimonials .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #7E5D6F;
}

.testimonials__wrap {
  width: 48%;
  position: relative;
}

.testimonials__wrap::before {
  content: '';
  display: block;
  padding-top: 66%;
}

@media (max-width: 768px) {
  .testimonials__wrap {
    width: 100%;
  }
}

.testimonials__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials__block {
  padding: 20px 70px 20px 129px;
  width: 52%;
  background-color: #5C3249;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .testimonials__block {
    padding: 20px 54px 20px 88px;
  }
}

@media (max-width: 768px) {
  .testimonials__block {
    padding: 20px 25px 95px 20px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.testimonials__text {
  font-family: 'Cardo', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: #fff;
  max-width: 471px;
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .testimonials__text {
    font-size: 24px;
    line-height: 32px;
    width: 330px;
  }
}

@media (max-width: 768px) {
  .testimonials__text {
    width: 275px;
    text-align: center;
  }
}

.testimonials__subtitle {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .testimonials__subtitle {
    font-size: 12px;
    line-height: 14px;
  }
}

.download {
  padding: 130px 0 114px;
}

@media (max-width: 1024px) {
  .download {
    padding: 93px 0 78px;
  }
}

@media (max-width: 768px) {
  .download {
    padding: 64px 0 45px;
  }
}

.download__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.download__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 33px;
  }
}

.download__text {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .download__text {
    font-size: 13px;
    line-height: 15px;
  }
}

.download__button {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  margin-top: 50px;
  background: #FF4343;
  padding: 25px 20px;
  border: 1px solid #FF4343;
  max-width: 370px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (max-width: 1024px) {
  .download__button {
    margin-top: 45px;
    max-width: 313px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 1024px) {
  .download__button {
    margin-top: 13.5px;
    max-width: 278px;
    font-size: 18px;
    line-height: 21px;
  }
}

.download__button:hover {
  background: #E71414;
  border: 1px solid #E71414;
}

.download__button:active {
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer__top {
  background-color: #353C65;
  padding: 71px 0 67px;
}

@media (max-width: 1024px) {
  .footer__top {
    padding: 46px 0 41px;
  }
}

@media (max-width: 768px) {
  .footer__top {
    padding: 34px 0 33px;
  }
}

.footer__block {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .footer__block {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 768px) {
  .footer__block {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 64px;
  }
}

.footer__item {
  text-align: center;
}

.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 29px;
}

@media (max-width: 1024px) {
  .footer__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .footer__title {
    margin-bottom: 34px;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #fff;
}

@media (max-width: 1024px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__social {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .footer__social {
    -webkit-column-gap: 23px;
            column-gap: 23px;
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .footer__social {
    -webkit-column-gap: 16px;
            column-gap: 16px;
    margin-top: 36px;
  }
}

.footer__social-wrap {
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (max-width: 1024px) {
  .footer__social-wrap {
    width: 33px;
    height: 33px;
  }
}

.footer__social-wrap:hover {
  border-color: #E71414;
}

.footer__social-wrap:active {
  border-color: #FF4343;
}

.footer path {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.footer__social-wrap:hover path {
  fill: #E71414;
}

.footer__social-wrap:active path {
  fill: #FF4343;
}

.footer__bottom {
  background-color: #2C3154;
  padding: 24px 0;
}

@media (max-width: 768px) {
  .footer__bottom {
    padding: 0;
  }
}

.footer__bottom-container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  max-width: 385px;
}

@media (max-width: 1024px) {
  .footer__bottom-container {
    padding: 14px 0;
  }
}

@media (max-width: 768px) {
  .footer__bottom-container {
    padding: 29px 0;
  }
}

.footer__bottom-text {
  width: 100%;
  color: #808080;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer__bottom-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 314px;
  }
}

@media (max-width: 768px) {
  .footer__bottom-text {
    max-width: 280px;
  }
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #fff;
}

@media (max-width: 1024px) {
  .footer__link {
    font-size: 14px;
    line-height: 16px;
  }
}
/*# sourceMappingURL=style.css.map */