$colorMain:#fff;
$colorSecondary:#FF4343;
$colorThird:#E71414;
$colorHeaderLine:#BABBC5;
$colorHeaderBanner:rgba(37, 43, 73, 0.5);
$colorBanner:#252B49;
$colorHoverBackground:rgba(255, 67, 67, 0.8);
$colorActiveBackground: rgba(185, 12, 12, 0.8);
$colorTitle:#2D3033;
$colorText:#6C7279;
$colorBackgroundTestimonials:#5C3249;
$colorDownload:#000;
$colorFooterTop:#353C65;
$colorFooterBottom:#2C3154;
$colorFooterBottomText: #808080;
$fontBold: 900;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif
}


@mixin container{
    max-width: 1200px;
    padding: 0 15px;
    margin:  0 auto;

}

@mixin text-uppercase{
    color:$colorMain;
    text-transform: uppercase;
}

@mixin text-size{
    font-size: 24px;
    line-height: 28px;
}

.header{
    position:fixed;
    width: 100%;
    z-index: 2;
    background:$colorHeaderBanner;
    mix-blend-mode: normal;
    

    &__container{
        @include container;
        display:flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        position: relative;

        

        &::after{
            content: '';
            position: absolute;
            width: 1170px;
            border-bottom: 1px solid $colorHeaderLine;
            top: 100%;
            
            @media (max-width:1024px){
                width: 984px;
            }

            @media (max-width:767px){
                display: none;
            }
        }
    }

    &__wrap{
        display: block;

        @media (max-width:767px){
            padding: 21px 0;
        }
    }

    &__logo{
        pointer-events: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__button{
        display: none;

        @media (max-width:767px){
            display: block;
            background-color:$colorHeaderBanner;
            border: none;
        }
    }
    

    &__list{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media (max-width:767px){
            display: none;
        }
    }

    &__item{
        min-width: 134px;
        width: 100%;

        @media (max-width:1024px){
            min-width: 112px;
        }
    }

    &__link{
        @include text-uppercase;
        text-decoration: none;
        
        padding: 41px 10px;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        display: block;
        border-bottom: 3px solid transparent;
        transition: 0.5s ;
        

        @media (max-width:1024px){
            font-size: 12px;
            line-height: 14px;

        @media (max-width:767px){
            display: none;
        }
        }

        &:hover{
            border-bottom: 3px solid $colorHeaderLine;
            
        }


        &:active{
            border-bottom: 3px solid $colorThird;
            color:$colorThird ;
            transform: scale(0.9);
            
        }
    }
}

.banner{
    padding: 230px 0 120px;
    background-image: url(../media/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    @media (max-width:1024px){
        padding: 157px 0 126px;
    }
    
    @media (max-width:767px){
        padding: 106px 0 52px;
    }

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background:$colorBanner;
        mix-blend-mode: normal;
        opacity: 0.8; 
        z-index: 1;
    }

    &__container{
        position: relative;
        @include container;
        text-align:center;
        z-index: 2;
    }

    &__title{
        @include text-uppercase;
        font-weight: $fontBold;
        font-size: 64px;
        line-height: 75px;
        margin-bottom: 31px;

        @media (max-width:1024px){
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 61.8px;
        }

        @media (max-width:767px){
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 32.5px;
        }
    }

    &__text{
        @include  text-size;
        font-weight: 400;
        color:$colorMain;

        @media (max-width:1024px){
            font-size: 18px;
            line-height: 21px;
        }
        @media (max-width:767px){
        font-size: 14px;
        line-height: 16px;
        }
    }   


    &__button{
        @include text-uppercase;
        @include  text-size;
        font-weight: $fontBold;
        margin-top: 82px;
        background:$colorSecondary;
        padding: 25px 20px;
        border:1px solid $colorSecondary ;
        max-width: 370px;
        width: 100%;
        cursor: pointer;
        transition: 1s;

        @media (max-width:1024px){
            max-width: 314px;
            margin-top: 89px;
        }

        @media (max-width:767px){
            max-width: 279px;
            margin-top: 51px;
            padding: 16px 10px;
        }
        

        &:hover{
            background:$colorThird;
            border: 1px solid $colorThird ;
            
            
        }

        &:active{
            box-shadow: 4px 4px 30px $colorSecondary;
            transform: rotate(360deg);
            
        }
    }
}


.features{
    padding: 120px 0 133px;

    @media (max-width:1024px){
        padding: 82px 0 80px;
    }

    @media (max-width:767px){
        padding: 40px 0 35px;
    }

    &__container{

        @include container;

        display:grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 88px;

        @media (max-width:1024px){
            column-gap: 20px;
            row-gap: 57px;
        }

        @media (max-width:767px){
            grid-template-columns: repeat(1, 1fr);
            column-gap: 0;
            row-gap: 42px;
            
        }
    }

    &__block{
        text-align: center;
        max-width: 370px;

        @media (max-width:1024px){
            max-width: 314px;
        }

        @media (max-width:767px){
            max-width: 280px;
            margin: 0 auto;
        }
    }

    &__wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 auto 51px;
        width:100px;
        height:100px;
        
        @media (max-width:1024px){
            width:85px;
            height:85px;
            margin:0 auto 43px;
        }

        @media (max-width:767px){
            width:75px;
            height:75px;
            margin:0 auto 31px;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title{
        @include text-uppercase;
        @include  text-size;
        font-weight: $fontBold;
        color:$colorTitle;
        margin-bottom: 42.5px;

        @media (max-width:1024px){
            margin-bottom: 24px;
            font-size: 18px;
            line-height: 21px;
        }

        @media (max-width:767px){
            margin-bottom: 10px;
        }
    }

    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color:$colorText;

        @media (max-width:1024px){
        font-size: 14px;
        line-height: 16px;
        }
    }
}

.project{

    display:grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width:767px){
        grid-template-columns: repeat(2, 1fr);
    }


    &__wrap{
        border: 1px solid $colorMain;
        position: relative;

        @media (max-width:1024px){
        }

        @media (max-width:767px){
            }

        &::before{
            content: '';
            display: block;
            padding-top:100%;
        }

    }

    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__block{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        cursor: pointer;
        transition: 0.8s;

        @media (max-width:1024px){
            padding: 74.5px 0 86.5px;
        }

        @media (max-width:767px){
            padding: 46px 0 51px;
        }

        &:hover{
            opacity: 1;
            background-color: $colorHoverBackground;
        }

        &:active{
            opacity: 1;
            background-color: $colorActiveBackground;
            transform: translateX(100%);
        }
    }



    &__title{
        @include text-uppercase;
        @include  text-size;
        font-weight: $fontBold;
        margin-bottom: 36.5px;

        @media (max-width:1024px){
            margin-bottom: 12.5px;
            font-size: 18px;
            line-height: 21px;

        }

        @media (max-width:767px){
            margin-bottom: 5px;

        }
    }

    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color:$colorMain;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__img{
        height: 100%;
        object-fit: cover;
    }

}

.team{
    padding: 114px 0;

    @media (max-width:1024px){
        padding: 78.5px 0;
    }

    @media (max-width:767px){
        padding: 35px 0;
    }

    &__container{
        @include container;


        display:grid;
        grid-template-columns:repeat(4, 1fr);
        column-gap: 30px;

        @media (max-width:1024px){
            column-gap: 25.5px;
        }

        @media (max-width:767px){
            grid-template-columns:repeat(1, 1fr);
            width: 100%;
            row-gap: 49px;
        }
    }
    
    &__block{
        display: flex;
        flex-direction: column;
        

        @media (max-width:1024px){
        }
    }

    &__wrap{
        margin-bottom: 30px;
        width:100%;
        position: relative;
        overflow: hidden;

        @media (max-width:1024px){
            margin-bottom: 25px;
        }

        @media (max-width:767px){
        }

        &::before{
            content: '';
            display: block;
            position: relative;
            padding-top: 100%;
        }
    }   

    &__img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover
    }


    &__title{

        @include  text-size;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 5px;
        color:$colorTitle;

        @media (max-width:1024px){
            margin-bottom: 4.5px;
            font-size: 18px;
            line-height: 21px;
        }
}
    &__subtitle{
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: $colorSecondary;
        font-weight: 400;
        margin-bottom: 18px;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 22.5px;
        }

        @media (max-width:767px){
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 38.5px;
        }
    }

    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $colorText;
        margin-bottom: 38px;
        
        

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 39px;
            
        }
        
        @media (max-width:767px){
            margin-bottom: 55px;
        }
    }

    &__social{
        display: flex;
        column-gap: 6px;
        margin: auto 0 0 0;
        
        

        @media (max-width:1024px){
            column-gap: 4px;
        }

        @media (max-width:767px){
            column-gap: 6px;
        }
    }

    &__social-link{
        width: 39px;
        height: 39px;
        border: 1px solid #C6CBCD;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.7s;
        
        
        

        @media (max-width:1024px){
            width: 32.8px;
            height: 32.8px;
        }

        @media (max-width:767px){
            width: 39px;
            height: 39px;
        }

        &:hover{
            border-color: #E71414;
        }

        &:active{
            border-color: #FF4343;
        }

    }
    path{
        transition: 0.7s;
    }

    &__social-link:hover path{
        fill: #E71414;
        
    }

    &__social-link:active path{
        fill: #FF4343;
        
    }

}

.testimonials{
    

    &__container{
        
        display: flex;
        

        @media (max-width:767px){
            flex-direction: column;
        }
    }

    &__swiper{
        padding-bottom:41px ;
    }

    .swiper-pagination{
        display: flex;
        column-gap: 10px;
        justify-content: center;
    }

    .swiper-pagination-bullet{
        background-color: #FFF;
        width: 14px;
        height: 14px;
        border: 1px solid #7E5D6F;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        opacity: var(--swiper-pagination-bullet-opacity, 1);
        background: #7E5D6F;
    }

    &__wrap{
        width: 48%;
        position: relative;

        &::before{
            content: '';
            display: block;
            padding-top: 66%;
        }

        @media (max-width:767px){
            width: 100%;
        }

    }

    &__img{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__block{
        padding: 20px 70px 20px 129px;
        width: 52%;
        background-color:$colorBackgroundTestimonials;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        @media (max-width:1024px){
            padding: 20px 54px 20px 88px;
        }

        @media (max-width:767px){
            padding: 20px 25px 95px 20px;
            width: 100%;
            align-items: center;
        }
    }

    &__text{
        font-family: 'Cardo', serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        text-transform: capitalize;
        color: $colorMain;
        max-width: 471px;
        padding-bottom: 20px;

        @media (max-width:1024px){
            font-size: 24px;
            line-height: 32px;
            
        }

        @media (max-width:767px){
            text-align: center;
        }
        
    }

    &__subtitle{
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        @include text-uppercase;

        @media (max-width:1024px){
            font-size: 12px;
            line-height: 14px;}
    }

}

.download{
    padding: 130px 0 114px;

    @media (max-width:1024px){
        padding: 93px 0 78px;
    }

    @media (max-width:767px){
        padding: 64px 0 45px;
    }

    &__container{
        @include container;
        text-align: center;

    }

    &__title{
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: $colorDownload;
        margin-bottom: 20px;

        @media (max-width:1024px){
            font-size: 24px;
            line-height: 28px; 
        }

        @media (max-width:767px){
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 33px;
        }
        
    }

    &__text{
        color: $colorDownload;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;

        @media (max-width:1024px){
        font-size: 14px;
        line-height: 16px;
        }

        @media (max-width:767px){
            font-size: 13px;
            line-height: 15px;
        }
    }

    &__button{
        @include text-uppercase;
        @include  text-size;
        font-weight: $fontBold;
        margin-top: 50px;
        background:$colorSecondary;
        padding: 25px 20px;
        border:1px solid $colorSecondary ;
        max-width: 370px;
        width: 100%;
        cursor: pointer;
        transition: 0.8s;

        @media (max-width:1024px){
            margin-top: 45px;
            max-width: 313px;
            font-size: 18px;
            line-height: 21px;
        }

        @media (max-width:1024px){
            margin-top: 13.5px;
            max-width: 278px;
            font-size: 18px;
            line-height: 21px;
        }

        &:hover{
            background:$colorThird;
            border: 1px solid $colorThird ;
            
            
        }

        &:active{
            box-shadow: 4px 4px 30px $colorSecondary;
            transform: rotate(360deg);
            
        }
    }
}

.footer{

    &__top{
        background-color: $colorFooterTop;
        padding: 71px 0 67px;

        @media (max-width:1024px){
            padding: 46px 0 41px;
        }

        @media (max-width:767px){
            padding: 34px 0 33px;
        }
    }
    &__block{
        @include container;

        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width:1024px){
            column-gap: 20px;
        }

        @media (max-width:767px){
            grid-template-columns: repeat(1, 1fr);
            row-gap: 64px;
        }

        
    }

    &__item{
        text-align: center;

        @media (max-width:1024px){
            
        }

        @media (max-width:767px){
            
        }
    }

    &__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        @include text-uppercase;
        margin-bottom: 29px;

        @media (max-width:1024px){

        font-size: 14px;
        line-height: 16px;
        margin-bottom: 16px;
        }

        @media (max-width:767px){

            margin-bottom: 34px;
            }

    }

    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: $colorMain;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
            
        }
        
    }

    &__social{
        margin-top: 49px;
        display: flex;
        column-gap: 27px;
        justify-content: center;

        @media (max-width:1024px){
            column-gap: 23px;
            margin-top: 32px;
        }

        @media (max-width:767px){
            column-gap: 16px;
            margin-top: 36px;
        }
    }

    &__social-wrap{
        width: 39px;
        height: 39px;
        border: 1px solid #C6CBCD;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.7s;

        @media (max-width:1024px){
            width: 33px;
            height: 33px;
        }
        &:hover{
            border-color: #E71414;
        }
    
        &:active{
            border-color: #FF4343;
        }
    }

path{
    transition: 0.7s;
}

&__social-wrap:hover path{
    fill: #E71414;
    
}

&__social-wrap:active path{
    fill: #FF4343;
    
}

    &__bottom{
        background-color:$colorFooterBottom;
        padding:24px 0 ;

        @media (max-width:767px){
            padding:0;
        }
    }

    &__bottom-container{
        @include container;
        text-align: center;
        max-width: 385px;

        @media (max-width:1024px){
            padding:14px 0;
        }

        @media (max-width:767px){
            padding:29px 0;
        }
    }

    &__bottom-text{
        width: 100%;
        color: $colorFooterBottomText;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        margin: 0 auto;


        @media (max-width:1024px){
            
            font-size: 14px;
            line-height: 16px;
            max-width: 314px;
        }

        @media (max-width:767px){
            max-width: 280px;
            
        }
        
    }

    &__link{
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: $colorMain;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
        }
    }
}